@import '../theme.scss';

.filters {
    width: max-content;
    margin: 24px auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 16px;

}

.filterAlignStart {
    width: max-content;
    margin: 24px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 16px;
    align-items: center;
}

.filterTab {
    width: max-content;
    padding: 2px 16px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: $medium;

    &.selected {
        background-color: var(--tab);
        color: var(--primary-background);
        font-weight: $bold;
    }
}

.outdated {
    color: $orange;

    &.selected {
        background-color: $orange;
        color: var(--text);
    }
}